@model ICollection<PablosCardLtd.News.Entities.Article>

    
    
<div class="container">
    <div class="row">
        <div class="col-9 row p-0 m-auto">
            @await Component.InvokeAsync("MainPageContent", Model)
        </div>
    </div>
</div>